@media (min-width: 768px) {

        .sidebar {
            width: 225px !important;
        }
    
        .sidebar.toggled {
            overflow: visible !important;
            width: 90px !important;
      
        }
    
        .sidebar {
            width: 225px !important;
        }
    
        .sidebar .nav-item .nav-link {
            width: 100% !important;
            text-align: left !important;
            padding: 1rem !important;
            width: 225px !important;
        }
    
        .sidebar .nav-item .nav-link span {
            display: inline !important;
        }
    }
    
    .nav-item .nav-link span {
        font-size: 0.71rem !important;
        display: block !important;
    }
    
    .nav-item .nav-link i {
        font-size: 2em !important;
        padding-top: 10px !important;
    }
    
    .sidebar {
        overflow: hidden !important;
        width: 90px !important;
        background-color:#4F4F4F!important;
        height: 100% !important;
        min-height: calc(100vh - 73px);
    }
    
   
    .navbar-nav {
        font-size: 14px;
        width: 60px !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        padding-left: 0 !important;
        margin-bottom: 0 !important;
        list-style: none !important;
    }
    
    .sidebar .nav-item .nav-link {
        text-align: center !important;
        padding: 0.75rem 0rem !important;
        width: 54px !important;
        color: #fff !important;
        display: grid !important;
    }
    
    .sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
        background-color: rgb(247, 247, 247);
        color: rgb(80, 80, 80) !important;
    }
    
    .display-none {
        display: none !important;
    }
    
    .display-block {
        display: block !important;
    }
    
    label{
        font-size: 9px;
    }
    