<h1 class="font-titulo">Caixa</h1>
<mat-card class="card-caixa">
        <section class="col">
                <form (onSubmit)="onSubmit()">
                        <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                        <input-caixa-CDM #input></input-caixa-CDM>
                        <grid-caixa-CDM [lancamentos]="input.lancamentos"></grid-caixa-CDM>
                </form>
        </section>
</mat-card>