<div>
        <div class="box-card">
                <i class="fas fa-dollar-sign"></i>
                <div class="box-text">
                        <h4>8.000,00</h4>
                </div>
        </div>

        <div class="box-card">
                <i class="fas fa-dollar-sign"></i>
                <div class="box-text">
                        <h4>500,00</h4>
                </div>
        </div>

        <div class="box-card">
                <i class="fas fa-search-dollar"></i>
                <div class="box-text">
                        <h4>50,00</h4>
                </div>
        </div>
</div>