<nav class="static-top">
<div style="background: #5EC4DE;" class="menu-superior d-flex bd-highlight" >
        
        <div class="menu bd-highlight">
            <button (click)="apresentarMenu()" class="btn" id="sidebarToggle" href="#">
            <i class="fa fa-bars fa-2x" style="color: #fff;"></i>
            </button>
        </div>
    
    
        <div class="col-md-3 flex-fill bd-highlight ">
            <div class="project-name" style="border: #fff">
                <label>Cashier Doc. Manager</label>
            </div>
        </div>

</div>
</nav>