table {
    width: 100%;
}

.table-bordered td{
    background-color: white;
}

.col-icon {
    width: 10px;
    background-color: white;
}

.icon-edit{
    border: none;
    background-color: white;
}