<div class="box">
    <div class="container" style="padding-top: 8%;">
        <button pButton type="button" icon="fa fa-money" iconPos="left" label="1. Dinheiro"
            class="ui-button-raised ui-button-info"
            style="width: 170px; height: 40px; background-color: #F16943;"></button>
    </div>

    <div class="container" style="padding-top: 5%;">
        <button pButton type="button" icon="fa fa-credit-card" iconPos="left" label="1. Cartão"
            class="ui-button-raised ui-button-info"
            style="width: 170px; height: 40px; background-color: #F16943;"></button>
    </div>

    <div class="container" style="padding-top: 5%;">
        <button pButton type="button" icon="fas fa-comment-dollar" iconPos="left" label="1. A Pagar"
            class="ui-button-raised ui-button-info"
            style="width: 170px; height: 40px; background-color: #F16943;"></button>
    </div>

    <div class="container" style="padding-top: 5%;">
        <button pButton type="button" icon="fas fa-money-check" iconPos="left" label="1. Cheque"
            class="ui-button-raised ui-button-info"
            style="width: 170px; height: 40px; background-color: #F16943;">
        </button>
    </div>
</div>