<mat-card class="card-marca">
    <form class="container" [formGroup]="_form" (ngSubmit)="onSubmit()">
        <div class="col">
            <div class="row">
                <mat-form-field>
                    <input matInput placeholder="Descrição" formControlName="descricao">
                </mat-form-field>
            </div>

            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
        <cadastros-CDM class="m-2" [colunas]="colunas" [valores]="valores">
        </cadastros-CDM>
    </form>
</mat-card>