.ui-float-label{
    margin-top: 4%;
    margin-left: 2%;
}
.row-inputs.row{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 2%;
}

.row-sessaoproduto{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

.box-valor{
    margin-left: 10%;
    margin-top: 17px;
}

.box-quantidade{
    margin-left: 2%;
    margin-top: 44px;
}