<form [formGroup]="_form" (ngSubmit)="onSubmit()">
    <section class="col">
        <p class="p-titulo">Geral</p>
        <div class="row">
            <div class="col">
                <mat-radio-group formControlName="tipoLancamento">
                    <mat-radio-button class="mr-2" value="entrada">Entrada</mat-radio-button>
                    <mat-radio-button class="mr-2" value="saida">Saída</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <mat-form-field>
                    <input matInput placeholder="Cliente" formControlName="cliente">
                </mat-form-field>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <mat-form-field>
                    <input matInput placeholder="Produto" formControlName="produto">
                </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <mat-form-field>
                    <input matInput type="number" placeholder="Quantidade" formControlName="quantidade">
                </mat-form-field>
            </div>
        </div>
        <p class="p-titulo">Valores</p>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <mat-form-field>
                    <input matInput currencyMask placeholder="Preço" formControlName="preco"
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <mat-form-field>
                    <input matInput currencyMask placeholder="Juros" formControlName="juros"
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <mat-form-field>
                    <input matInput currencyMask placeholder="Multa" formControlName="multa"
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <mat-form-field>
                    <input matInput currencyMask placeholder="Desconto" formControlName="desconto"
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </mat-form-field>
            </div>
        </div>
        <p class="p-titulo">Pagamento</p>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <mat-form-field>
                    <mat-label>Forma de Pagamento</mat-label>
                    <mat-select name="formaPagamento" formControlName="formaPagamento">
                        <mat-option *ngFor="let forma of formasPagamento" [value]="forma.value">
                            {{forma.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-12">
                <mat-form-field>
                    <input matInput placeholder="Número de parcelas" formControlName="numeroParcelas">
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button type="button" class="mb-2" mat-raised-button color="warn" 
                    (click)="limpar()">Limpar</button>
            <button type="button" class="mb-2" mat-raised-button color="primary"
                    (click)="adicionar()">Adicionar</button>
        </div>
    </section>
</form>