.ui-float-label{
    margin-top: 4%;
    margin-left: 2%;
}
.row-inputs.row{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 2%;
}

.row-juros{
    margin-top: 3%;
    margin-left: 4%;
}