/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    width: 100%;
}

.ui-button-raised.ui-button-info{
    width: 170px !important;
     height: 40px !important; 
     background-color: #F16943 !important;
}
