<mat-toolbar>
  <button mat-fab color="warn" routerLink="">CDM</button>


  <button mat-button [matMenuTriggerFor]="cadastro" class="button-position">Cadastros</button>
  <mat-menu #cadastro="matMenu">
    <button mat-menu-item routerLink="usuarios">Usuários</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu" class="button-menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="caixa">Caixa</button>
  </mat-menu>
</mat-toolbar>
<div class="box-content">
  <router-outlet></router-outlet>
</div>