<mat-toolbar class="tool-content" *ngIf="mostrarMenu">

    <button mat-fab color="warn" routerLink="home">CDM</button>
  
    <button mat-button (click)="_sair()" class="button-position">Sair</button>

    <button mat-button routerLink="caixa" class="button-position">Caixa</button>
    <button mat-button [matMenuTriggerFor]="cadastro" class="button-menu">Cadastros</button>
    <mat-menu #cadastro="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="usuarios">Usuários</button>
      <button mat-menu-item [matMenuTriggerFor]="empresa">Empresa</button>
      <button mat-menu-item routerLink="cadastro/produto">Produto</button>
      <button mat-menu-item routerLink="cadastro/marca">Marca</button>
    </mat-menu>
  
    <mat-menu #usuarios="matMenu">
      <button mat-menu-item routerLink="cadastro/usuario/cliente">Cliente</button>
  
      <button mat-menu-item routerLink="cadastro/usuario/operador">Operador</button>
  
      <button mat-menu-item routerLink="cadastro/usuario/cliente">Fornecedor</button>
    </mat-menu>
  
    <mat-menu #empresa="matMenu">
      <button mat-menu-item routerLink="cadastro/">Matriz</button>
      <button mat-menu-item routerLink="cadastro/">Filiais</button>
    </mat-menu>
  
  </mat-toolbar>
  
  <div class="box-content">
    <snackbar-cdm></snackbar-cdm>
    <router-outlet></router-outlet>
  </div>