.button-position{
    margin-left: 6%;
    color:  white;
}

.button-menu{
    color: white;
}

.box-content{
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-top: 1%;
}

.tool-content{
    background-color: rgb(190, 189, 189);
}