.card-cadastro{
    background-color: whitesmoke;
}

.box-titulo{
    text-align: center;
}

.font-titulo{
    font-size: 20px;
}

.box-tollbar{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    border: 0px;
    border-radius: 15px;
}

.mat-toolbar.mat-warn.mat-toolbar-single-row{
    border-radius: 15px;
    height: 50px;
}

.box-section-cadastro{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2%;
}

.box-info-pessoal{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nome{
    width: 70%;
}

.email{
    width: 90%;
}

.cpf{
    padding-left: 1%;
    width: 20%;
}

.idade{
    padding-left: 3%;
}

.mat-form-field {
    margin-right: 12px;
}
