<div class="box-caixa">
    <div class="container">
        <button pButton type="button" icon="fa fa-money" iconPos="left" label="1. Dinheiro"
            class="ui-button-raised ui-button-info"></button>
    </div>

    <div class="container">
        <button pButton type="button" icon="fa fa-credit-card" iconPos="left" label="1. Cartão"
            class="ui-button-raised ui-button-info"></button>
    </div>

    <div class="container">
        <button pButton type="button" icon="fas fa-comment-dollar" iconPos="left" label="1. A Pagar"
            class="ui-button-raised ui-button-info"></button>
    </div>

    <div class="container">
        <button pButton type="button" icon="fas fa-money-check" iconPos="left" label="1. Cheque"
            class="ui-button-raised ui-button-info">
        </button>
    </div>
</div>